/*start of index*/
.title {
    text-align:center;
    font-family:Ink Free;
    background-color:#BA9785;
    font-size: 40px;
    font-weight: bolder;
    height:80px;
    padding: 20px;
}
.navbar {
  background-color: #c4a494;
}
button {
  border-radius:8px;
  border-color: #AA9183;
  height:50px;
  width:150px;
}
.snail {
  height:50px;
  width:50px;
}
.goal-mission {
  text-align:center;
  font-size: large;
}
.comment{
  color: black;
  height:250px;
  width:300px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  
}
.about-us1 {
  background-color: #e5cec1;
  color:black;
  border-radius: 5px;

}
.gerald {
  height:250px;
  width:300px;
  border-radius: 5px;
}

.our-mission1 {
  background-color: #e5cec1;
  color:black;
  border-radius: 5px;
}
.commentc {
  background-color: #efd1c6;
}
.image-center {
            display:block;
            text-align:center;
            bottom: 500px;
            left: 0;
            right: 0;
            top: 2px;
            margin: auto;
            width: auto;
            height: auto;
            max-width: 70%;
            max-height: 70%;
          }

.join {
    background-color:#C3A5A2;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    font-size:medium;
}
/*end of index*/

.jane {
  height:250px;
  width:300px;
  border-radius: 5px;
}
.lucy {
  height:250px;
  width:300px;
  border-radius: 5px;
}
.nick {
  height:250px;
  width:300px;
  border-radius: 5px;
}
.jane-container {
  margin-right: 100px;
}
.d-block {
  height:500px;
  width:600px;
}
h3 {
  text-align:center;
  font-family:Ink Free;
  background-color:#A17A69;
  font-size:x-large;
  font-weight: bolder;
}
  .hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-color:#c4b0b0;
    height: 350px;
  }
 .logo {
  Height:300px;
  width:300px;
 }
.hero-image {
  background-color: #efd1c6;
  text-align:center;
  height:250px;
}
.hero-text {
  font-size:x-large;
  margin-top: 30px;
  color:black;
}
.hero-title {
  font-size:xx-large;
  font-family:Ink Free;
  font-weight: bolder;
}
.btn {
  height:30px;
  width:100px;
  background-color:#A17A69;
  color:white;
}
#header{
  font-size:large;
  font-weight: bolder;
}     
.myCarousel {
  height:700px;
  width:800px;
}
body {
  background-color:#fff1e6
}
.carousel {
  background-color: #efd1c6;
  padding: 15px;
}
