/*start of profile*/
.profile-title {
    text-align: center;
}

.profile-item  {
    Background-color:#DDB9B1;
}

.profile-snail{
    width:300px;
    height:250px;
}

.comment {
    background-color: #DDB9B1;
}



 
  /*end of profile*/