.title {
    text-align:center;
    font-family:Ink Free;
    background-color:#C3A5A2;
}
.navbar {
    background-color: #C3A5A2;
  }
  .title {
    font: size 400px;
  }
  .snail {
    height:50px;
    width:50px;
  }