.title {
    text-align:center;
    font-family:Ink Free;
    background-color:#C3A5A2; 
    font: size 400px;
}



.navbar {
  background-color: #C3A5A2;
  color:black;
}

.snail {
  height:50px;
  width:50px;
  border-radius: 0%
}
.gerry {
  width: 340px;
  margin-top: 300px;
  border-style: double;
  border-color:#C3A5A2;
  border-width: 20px;
  float: right;
  margin-right: -1300px;
  
  
  
}

#incommon {
  background-color: rgb(152, 202, 248);
  float: left;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 30px;
  font-weight: 200;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  width: 500px;
  height: 270px;
  color: white;
  border: 10px solid #c4b0b0;
  position: absolute;
  margin-top: 300px;
  margin-left: 100px;
}

#bestattributes {
  background-color:rgb(152, 202, 248);
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 30px;
  font-weight: 200;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  width: 500px;
  height:270px;
  color: white;
  border: 10px solid #c4b0b0;
  position: relative;
  margin-top: -50px;
  margin-left: 100px;
}

#favquote {
  background-color: rgb(152, 202, 248);
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 15px;
  padding-right: 30px;
  font-weight: 200;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  width: 500px;
  height:130px;
  color: white;
  border: 10px solid #c4b0b0;
  position: relative;
  margin-top: -140px;
  margin-left: 100px;
}


.emojis {
  height:280px;
  width:300px;
  background-color:rgb(237, 255, 187);
  font-size: 30px;
  text-align: center;
  position: relative;
  margin-left: 500px;
  margin-top: 100px;
  border-style: dotted dashed solid double;
  border-color:rgb(95, 129, 160);
  border-width: 8px;
  margin-left: 300px;

  
}

.briefbio {
height: 135px;
width:700px;
background-color:lightblue;
margin-right: 30px;
float: right;
margin-top: -220px;
border-style: dashed; 
border-color: #C3A5A2; 
border-width: 8px;
padding-top: 8px;
padding-bottom: 10px;
padding-right: 20px;
padding-left: 20px;
color: rgb(255, 255, 255);

}


#firstrating{
  background-color: lightgrey;
  width: 800px;
  height: 200px;
  margin-top: 30px;
  margin-left: 600px;
  font-size: 30px;
  padding-top: 30px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
 
}

#match1{
  background-color: #c4b0b0;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
}

.match1img{
  height:200px;
  float: left;
  border: 10px solid rgb(128, 128, 128);
}





.chatbtn {
    float: right;
    padding: 20px;
    font-size:30px;
}



.nextsc {
font-size: medium;
font-family: monospace;
float: right;
background-color: aqua;
color: white;
margin-right: 30px;
}

.match1text {
  padding-left: 300px;
  font-size: 20px;
}

.submitbtn {
  background-color: chartreuse;
  font-size: 20px;
}




.checked {
  color: rgb(251, 255, 0);
}


#footer {
  background-color: #c4a494;
}

*{
  margin:0;
  padding:0;
 }

 .btns{
  position: absolute;
  top: 216px;
  left: 328px;
  display: flex;
 }

 .btn{
  background: transparent;
  border: none;
  margin: 87px;
  font-size: 88px;
  outline: none;
  color: grey;
 }
 #yellow-star {
  color:yellow;
 }
 #black-star {
  color:black;
 }


 