/*index*/
.title {
    text-align:center;
    font-family:Ink Free;
    background-color:#C3A5A2;
}
.carousel {
    width:800px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.buttonbox {
    font-size: 50px;
}
.goal-mission {
  text-align:center;
}

.index-images {
  
}

.image-center {
            display:block;
            text-align:center;
            bottom: 500px;
            left: 0;
            right: 0;
            top: 2px;
            margin: auto;
            width: auto;
            height: auto;
            max-width: 70%;
            max-height: 70%;
          }

.join {
    background-color:#C3A5A2;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
}
.profile-title {
  text-align: center;
}
 .profile-item  {
  Background-color:#DDB9B1;
 }   
            .thisorthat{
                height: 200px;
                display: inline-block;
                margin: 0 auto;
              }
              
              .btn-btn-info {
                margin: 0;
                position: absolute;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
              }

                
                    #click:active {
                        content:x;
                }
          
                .btn btn-info:active {
                        background-color: black;
                }

                .btn-btn-success{
                    background-color: gray;
                }
                

              .buttonbox{
                color: aliceblue;
                font-style: italic;
                font-weight: 600;
              }

              .container2{
                padding-top: 50px;
                padding-right: 80px;
                padding-bottom: 50px;
                padding-left: 80px;
                text-align: center;
              
               
              }

              

              .intro{
                background-color: lightslategray;
                color:white;
                padding: 15px;
                
                
              }

              .container3{
                width: 1500px;
                margin: 0 auto;
              }

              .thisorthat{
                width: 900px;
                margin: 0 auto;
                
              }

              .clickon{
                font-family: Georgia, 'Times New Roman', Times, serif;
                text-decoration: underline;
              }

              #mytable{
                background-color:pink;
              }

              .button1{
                border-radius: 50%;
                background-color: black;
                color: aliceblue;
                width: 100px;
                height: 100px;
                align-items: center;
              }

              .button1 :active{
                background-color:white;
                color:black;
              }

              .button2{
                background-color: rosybrown;
                color: black;
                width: 200px;
                height: 100px;
                padding: 20px;
                font-size: large;
               
               
              }

              .button3{
                background-color: slategrey;
                color:white;
                width: 200px;
                height: 100px;
                padding: 20px;
                font-size: large;
               
                
              }



              