.title {
    text-align:center;
    font-family:Ink Free;
    background-color:#C3A5A2;
}
.carousel {
    width:800px;
    height:790px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
