.title {
    text-align:center;
    font-family:Ink Free;
    background-color:#C3A5A2;
}
.navbar {
  background-color: #C3A5A2;
}
.title {
  font: size 400px;
}
.snail {
  height:50px;
  width:50px;
  border-radius: 0%
}
.nav-item {
  color:black;
}


/* start of survey*/                         
                
.btn-btn-info {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}  
            
.btn btn-info:active {
    background-color: black;
}
  
.btn-btn-success{
    background-color: gray;
}                
  
.buttonbox{
    color: aliceblue;
    font-style: italic;
    font-weight: 600;
    font-size: 50px;
}       
 #buttonbox {
  background-color: gray;
  height:300px;
  align-items: center;
  border-style: dashed; 
  border-color: #C3A5A2; 
  border-width: 10px;
 } 
#introsay{
    background-color: rgb(181, 204, 230);
    color:white;
    padding-left: 45px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 1200px;
    padding-right: 45px;
    margin-top: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
}            
  
.clickon{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;            
    margin-top: 60px;        
    text-align: right;        
}
  
#mytable{
    background-color:pink;
    margin-top: 65px;

}
  
.btnn{
    border-radius: 50%;
    background-color: rgb(255, 152, 152);
    color: aliceblue;
    width: 45px;
    height: 45px;
    margin-top: 10px;
   
}
  

.active, .btn:hover {
   background-color: #b47474;
   color: black;
}
  

  
  

  
.special{
    background-color: rosybrown;
    color: black;
    width: 200px;
     height: 100px;
    padding: 20px;
    font-size: large;  
    align-items: center;           
}
  
.button3{
    background-color: rgb(189, 189, 202);
    color:white;
    width: 200px;
    height: 100px;
    padding: 20px;
 
}
#totbtn {
    background-color: rgb(236, 211, 211);
    color: rgb(0, 0, 0);
    width: 200px;
    

}


  
.tottitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-left: 1290px;
    margin-top: -300px;
}  



#thisorthat {
  width: 450px;
  height: 330px;
  background-color:rgb(124, 119, 126); 
  margin-left: 1250px;
  margin-top: 350px;
  padding: 20px;
}



#googledoc {
    float: left;
    margin-top: 100px;
}


#buttonbox {
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: 300px;
    font-size: 20px;
   margin-left: 90px;
   margin-top: 100px;
    
}

.buttonbox {
    color: black;
    width: 500px;
    height: 400px;
    font-size: 35px;
}

.submitbtn {
    background-color: chartreuse;
    font-size: 20px;
  }

  .container2 {
    margin-top: -330px;
  }



.pic {
  margin-left: 200px;
  border-style: dashed; 
  border-color: #C3A5A2; 
  border-width: 10px;
  margin-top: 30px;
  width: 400px;
  float: right;
  margin-right: 200px;
  
}

div.absolute{
  position: absolute;
  left: 110px;
  top: 650px;
}

  

  /*end of survey